<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    


<div style="border: 3px solid black;margin: auto;width: 650px;padding: 5px;">
    <h1 style="color:red;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 400%;">Coding Academy</h1>
    <p style="color:blue;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 200%;">Amman Jordan</p>
</div>

</body>
</html>